body {
    font-family: 'Oswald', 'PT Serif', sans-serif !important;
}

.navbar {
    background-color: #0079c1;
}

.nav-link {
    color: #fff;
}

footer {
    background-color: #0079c1;
    height: 40px;
    color: #fff;
    font-size: 11px;
}